.App {

  display: flex;
  width: 900px;
  margin:auto;
  height:auto;
  background-color: rgb(225, 255, 225);
  border: 1px solid rgb(223, 223, 223);
  margin-top: 20px;
  text-align: center;

}
.Parent {
  margin: 15px;
  padding: 20px;
}
.Child {
  display: grid;
  justify-content: space-around;
  margin: 10px;
}
.Error {
  color: red;
  font-size: 20px;
}
.success {
  text-align:center;
  margin: auto;
  
}
.parentReview {
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.childReview {
  margin: 20px;
  
}